<table class="table table-hover">
  <tr>
    <td width="70px">
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        <img class="rounded-circle" src="{{ post.author.avatar(70) }}" />
      </a>
    </td>
    <td>
      {% set user_link %}
        <a href="{{ url_for('main.user', username=post.author.username) }}">
          {{ post.author.username }}
        </a>
      {% endset %}

      {{ _('%(username)s says %(when)s:', username=user_link, when=moment(post.timestamp).fromNow()) }}
      <br />
      <span id="post{{ post.id }}">{{ post.body | nl2br }}</span>
    </td>
  </tr>
</table>
