<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not prev_url %} disabled{% endif %}">
      <a class="page-link" href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span>{{ _(' Newer posts') }}
      </a>
    </li>
    <li class="page-item {% if not next_url %} disabled{% endif %}">
      <a class="page-link" href="{{ next_url or '#' }}">
        {{ _('Older posts ') }}<span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
