{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ _('%(title)s  :: Microblog', title=title) }}{% else %}{{ _('Microblog') }}{% endif %}
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block styles -%}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}" />
{% endblock styles %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <a class="navbar-brand" href="{{ url_for('main.index') }}">GinTR1k's Space :: {{ _('Blog') }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Home') }}</a>
      </li>
      <li class="nav-item {% if active == 'explore' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if current_user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
      </li>
      {% else %}
      <li class="nav-item dropdown">
        <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           <img src="{{ current_user.avatar(32) }}" class="rounded-circle" /> {{ current_user.username }} <span class="caret"></span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
          <a class="dropdown-item" href="{{ url_for('main.edit_profile') }}">{{ _('Edit') }}</a>
          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<main role="main" class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {# application content needs to be provided in the app_content block #}
  {% block app_content %}{% endblock %}
</main>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}
{% endblock %}
