{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover">
      <tr>
        <td width="256px"><img class="rounded-circle" src="{{ user.avatar(256) }}" /></td>
        <td>
          <h1>{{ _('User: %(username)s', username=user.username) }}</h1>
          {% if user.about_me %}
          <div>
            {{ user.about_me | nl2br }}
          </div>
          {% endif %}

          {% if user.last_seen %}
          <p>{{ _('Last seen on: %(last_seen)s', last_seen=moment(user.last_seen).format('LLL')) }}</p>
          {% endif %}

          <p>{{ _('%(followers)s followers, %(followed)s followed', followers=user.followers.count(), followed=user.followed.count()) }}</p>

          {% if current_user.is_authenticated %}
            {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>

            {% elif not current_user.is_following(user) %}
            <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
            {% else %}
            <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    </table>
    <hr />

    {% for post in posts %}
      {% include "_post.html" %}
    {% endfor %}

    {% include "_post_pagination.html" %}

{% endblock %}
